body{
 background-color:black;
 
}
.navbar{
    margin-top:40px;
}
.logo{
    display :flex;
    height:2px;
    width:2px;
    margin-left: 200px;
    text-decoration:none;
}
.name{
    font-size:15px;
    font-weight: 500;
    font-family:Lato, sans-serif ;
    font-weight: 400;
}

.logo a{
    display:flex;
    flex-direction:column;
    font-size:40px;
    color:white;
    font-family:Lato, sans-serif;
    text-decoration: none;
}
.name a{
    color:white;
    display:flex;
    flex-direction:column;
    font-size:30px;
    margin-left:250px;
    text-decoration: none;
}
body .taskmanager{
    display:flex;
    justify-content:center;
    align-items: center;
    
}
.taskmanager{
    height:150px;
    width:350px;
    border:1px solid white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    margin:auto;
    color:white;
    border-radius: 15px;
    line-height: 24px;
    margin-top: 50px;
    gap:70px;
}
.text a{
    font-size: 20px;
    text-decoration: none;
    margin-right: px;
    color:white;
    font-family: Lato, sans-serif;
    padding:5px;
}
.text a.upper{
    font-size:20px;
}
.text a.lower{
    font-size:15px;
}

.task-circle  {
    height:120px;
    width:120px;
    display:flex;
    margin-right: 20px;
    border-radius:50%;
    background-color:#88AB33;

}
.task-circle span{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:35px;
    font-size:40px;
    font-family:Lato, sans-serif;
}
.search_box {
    height: 50px;
    width:400px;
    display:flex;
    align-items: center;
    margin: auto;
    margin-top: 35px;
    border:none;
    border-radius: 20px;
    justify-items: center;
}
.search_box input{
    height:40px; 
    width:325px;
    font-size:12px;
    font-family:Lato, sans-serif;
    margin-left: 20px;
    background-color: #1F2936;
    border:none;
    border-radius: 10px;
    color:white;
}
.search_box button{
    /* justify-content: center; */
    align-items: center;
    height:40px;
    width:30px;
    background-color: #88AB33;
    color: black;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    margin-left:5px;
}
.task-text {
    color:white;
}
.task{
    height:40px;
    width:350px;
    border:1px solid white;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    margin:auto;
    margin-top:20px;
}
input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border-radius: 50%;   /* makes checkbox circular */
  appearance: none;     /* remove default styling */
  border: 2px solid #333;
  cursor: pointer;
  
  
}

input[type="checkbox"]:checked {
  background: green;
}
.task-left{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    gap:10px;
}
.task-check{
    width:20px;
    height:20px;
    cursor:pointer;
}
.buttons {
    display:flex;
    flex-direction: row;
}
.task .edit-btn{
   height:30px;
   width:30px;
   display:flex;
   font-size:20px;
   background-color:black;
   color:#928774;
   border:none;

   
}
.task .delete-btn{
   height:30px;
   width:30px;
   display:flex;
   font-size:20px;
background-color:black;
   color:#928774;
   border:none;
   
}
.task-text.completed{
    text-decoration: line-through;
}

@media (max-width:600px){
  .navbar{
    margin-top:20px;
     margin-left:30px;
    
  }
  .logo{
    margin-left:0px;
    justify-content:center;
  }
  .name a{
    font-size:30px;
    font-weight: Bold;
    margin-left:40px;
  }
    .taskmanager {
    width: 80%;
    height:100px;
    flex-direction: row;
    gap: 80px;
    padding: 15px;
  }

  .task-circle {
    height: 90px;
    width: 90px;

  }

  .task-circle span {
    font-size: 28px;
    margin-left: 0;
    width: 100%;
    justify-content: center;
  }

 
  .search_box {
    width:100%; 
    display:flex;
    flex-direction:column; 
    
    gap:15px;
   
  }

  .search_box input {
    width: 68%;           
    font-size: 14px;      
    padding: 8px;       
  }

  .search_box button {
    width: 20%;          
    font-size: 16px;   
    padding: 10px;

  }

  .task {
    width: 90%;
    flex-direction: row;
    font-size: 14px;
  }

  .task-text {
    font-size: 14px;
  }
}
